@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21;
    max-width: 317px;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info--photo {
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info--name {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.info--role {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin: 0;
}

.info--website {
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    color: #F5F5F5;
    margin: 9px 0 15px 0;
}

.info--contact {
    display: flex;
    justify-content: center;
}

.info--email > img, .info--linkedin > img {
    width: 16px;
    object-fit: contain;
}

.info--email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #374151;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 115px;
    height: 34px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 9px 13px 9px 11px;
    margin-right: 17px;
}

.info--linkedin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #5093E2;
    width: 115px;
    height: 34px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 9px 13px 9px 11px;
}

.about {
    margin: 33px 35px 24px 35px;
}

.about--title {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
    margin: 0;
}

.about--text {
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    margin: 0;
}

.interests {
    margin: 0px 35px 27px 35px;
}

.interests--title {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
    margin: 0;
}

.interests--text {
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    margin-top: 0;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161619;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.socials > img {
    margin: 20px 12px;
}